body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  padding-top: 30px;
}
.card {
  /* Asegura que la tarjeta no sea demasiado alta */
  min-height: 150px;
  display: flex;
  flex-direction: column;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
